html {
  box-sizing: border-box;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h2, h4, p {
  margin: 0;
}

body {
  padding: 20px;
}

#card {
  width: 600px;
  height: 400px;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius: 10px;
  overflow: hidden;
}

#top_section {
  width: 100%;
  height: 45%;
  background-color: white;
  padding: 25px;
}

#top_section h2 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 15px;
}

#top_section h4 {
  color:hsl(71, 73%, 54%);
  margin-bottom: 10px;
}

#top_section p {
  color: hsl(218, 22%, 67%);
}
#bottom_section {
  width: 100%;
  height: 55%;
}

#bot_left_section, #bot_right_section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  color: white;
  padding: 25px;
}

#bot_left_section {
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
}

#bot_left_section h4 {
  margin-bottom: 15px;
}

#price-container {
  margin-bottom: 10px;
}

#price {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
}

#month-section {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 0.9rem;
  color: hsl(204, 43%, 93%);
  opacity: 0.7;
  margin-left: 5px;
}

#bot_left_section p {
  margin-bottom: 40px;
}

#bot_right_section {
  background-color: #2ebfbd;
}

button {
  background-color:hsl(71, 73%, 54%);
  color:white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

#bot_right_section h4 {
  margin-bottom: 15px;
}

#bot_right_section p {
  font-size: 0.9rem;
  opacity: 0.8;
}
